{% extends 'base.html' %}

{% block buttons %}
  <a href="#" onclick="save()">Save</a>
  <a href="">Refresh</a>
{% endblock %}

{% block phrase %}
  {% for phrase in phrases %}
    {{ phrase.text }}
  {% endfor %}
{% endblock %}

{% block script %}
  <script>
    function post(path, params, method) {
      method = method || "post";

      var form = document.createElement("form");
      form.setAttribute("method", method);
      form.setAttribute("action", path);

      for (var key in params) {
        if (params.hasOwnProperty(key)) {
          var hiddenField = document.createElement("input");
          hiddenField.setAttribute("type", "hidden");
          hiddenField.setAttribute("name", key);
          hiddenField.setAttribute("value", params[key]);

          form.appendChild(hiddenField);
        }
      }

      document.body.appendChild(form);
      form.submit();
    }

    function save() {
      var text = document.getElementById('text').innerText;
      post('{% url 'saves:save_create' %}', {text: text, csrfmiddlewaretoken: '{{csrf_token }}'});
    }
  </script>
{% endblock %}